.ParticipantsListDialog {
    position: fixed;
    z-index: 100000;
    background-color: lightgray;
    right: 0;
    top: 0;
    padding-top: 50px;
    font-size: 12px;
    max-height: 90%;
    overflow-y: scroll;
}

.ParticipantsListDialog table, .ParticipantsListDialog  td, .ParticipantsListDialog th {
    border: 1px solid black;
    border-collapse: collapse;
}

.EventDetailsDialogCloseBtn {
    position: absolute;
    right: 5px;
    top: 5px;
}

.nationalitySelector {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: lightgray;
}