.MainActionsPanel {
    height: 35px;
    background-color: #c9c9c9;
    position: absolute;
    left: 100px;
    top: 40px;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
}

.MainActionsPanel.visible {
    opacity: 1;
}