.Workspace {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  background-color: rgba(0,0,0,0.7);
  font-size: 11px;
  color: white;
}

.draggingFileOverWorkspace {
  background-color: rosybrown
}

.fileInfo {
  position: absolute;
  left: 0;
  top: 0;
}

.regognizedTextsBoxes {
  position: absolute;
  left: 0;
  top: 0;
}

.selectionTypeDialog {
  position: absolute;
  background-color: aliceblue;
  padding: 20px;
}

.regognizedTextBox {
  outline: 1px solid orange;
  position: absolute;
}

.regognizedTextBox:hover {
  outline: none;
}

#workspaceImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
    position: absolute;
    pointer-events: none;
}

.openEventDetailsDialogActionBtn {
  position: absolute;
  right: 20px;
  bottom: 90px;
  border-radius: 50%;
  background-color: lightblue;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100000;
}