.Workspace {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  background-color: rgba(0,0,0,0.7);
  font-size: 11px;
  color: white;
}

.draggingFileOverWorkspace {
  background-color: rosybrown
}

.fileInfo {
  position: absolute;
}

.regognizedTextsBoxes {
  position: absolute;
}

.selectionTypeDialog {
  position: absolute;
  background-color: aliceblue;
  padding: 20px;
}

.regognizedTextBox {
  outline: 1px solid orange;
  position: absolute;
}

.regognizedTextBox:hover {
  outline: none;
}

#workspaceImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
    position: absolute;
    pointer-events: none;
}